 /* Google Fonts - Poppins */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }
 body{
  background-image: url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2018_35/2547301/180828-mach-new-mexico-race-track-birds-eyeview-se-258p.jpg);
  background-size: cover;
  padding: 0;
  margin: 0;
}
 
.card{
   border-radius: 25px;
   background-color: #FFF;
   width: 200px;
 }

 #chartdiv {
  width: 100%;
  height: 500px;
}